@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Alpine Ski House!</h1>
    <p>Alpine Ski House is the premeir ski hill in Northeast!</p>
    <p>The Alpine Ski House is the place to be.</p>
</div>
