@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ALpine Ski House</h1>
    <p>Alpine Ski House is the premeir ski hill in Northeast!</p>
</div>
